.default-btn {
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 8px 25px 9px;
    position: relative;
    text-transform: uppercase;
    z-index: 9;
    background: #EC1C23;
    text-decoration: none;


}

.default-btn:hover {
    color: #EC1C23;
    background: #fff;
}
.banner{
    background-image: url('https://htmldemo.net/eduhome/eduhome/img/slider/slider1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:90vh;

}